li.nav-item.has-treeview
  a.nav-link(href='#')
    i.nav-icon.far.fa-plus-square
    p Activities
      i.fas.fa-angle-left.right
  ul.nav.nav-treeview
    li.nav-item
      a.nav-link(href='pages/examples/login.html')
        i.far.fa-circle.nav-icon
        p My Activities
    li.nav-item
      a.nav-link(href='pages/examples/register.html')
        i.far.fa-circle.nav-icon
        p Other Activities
    li.nav-item
      a.nav-link(href='pages/examples/lockscreen.html')
        i.far.fa-circle.nav-icon
        p General Activities
