if title == "Log"
  li.nav-item.has-treeview.menu-open
    a.nav-link(href='#').active
      i.nav-icon.fas.fa-book
      p Logs
        i.fas.fa-angle-left.right
    ul.nav.nav-treeview
      li.nav-item
        a.nav-link(href='/dashboard/checkin')
          if subtitle == "Checkin"
            i.fas.fa-circle.nav-icon
            p Checkin
          else
            i.far.fa-circle.nav-icon
              p Checkin
      li.nav-item
        a.nav-link(href='pages/examples/profile.html')
          i.far.fa-circle.nav-icon
          p Checkout
      li.nav-item
        a.nav-link(href='pages/examples/e_commerce.html')
          i.far.fa-circle.nav-icon
          p Absents
      li.nav-item
        a.nav-link(href='pages/examples/projects.html')
          i.far.fa-circle.nav-icon
          p Available
      li.nav-item
        a.nav-link(href='pages/examples/projects.html')
          i.far.fa-circle.nav-icon
          p Duplicated
      li.nav-item
        a.nav-link(href='pages/examples/projects.html')
          i.far.fa-circle.nav-icon
          p Systems
      li.nav-item
        a.nav-link(href='pages/examples/projects.html')
          i.far.fa-circle.nav-icon
          p Authentication
else
  li.nav-item.has-treeview
    a.nav-link(href='#')
      i.nav-icon.fas.fa-book
      p Logs
        i.fas.fa-angle-left.right
    ul.nav.nav-treeview
      li.nav-item
        a.nav-link(href='/dashboard/checkin')
          i.far.fa-circle.nav-icon
          p Checkin
      li.nav-item
        a.nav-link(href='pages/examples/profile.html')
          i.far.fa-circle.nav-icon
          p Checkout
      li.nav-item
        a.nav-link(href='pages/examples/e_commerce.html')
          i.far.fa-circle.nav-icon
          p Absents
      li.nav-item
        a.nav-link(href='pages/examples/projects.html')
          i.far.fa-circle.nav-icon
          p Available
      li.nav-item
        a.nav-link(href='pages/examples/projects.html')
          i.far.fa-circle.nav-icon
          p Duplicated
      li.nav-item
        a.nav-link(href='pages/examples/projects.html')
          i.far.fa-circle.nav-icon
          p Systems
      li.nav-item
        a.nav-link(href='pages/examples/projects.html')
          i.far.fa-circle.nav-icon
          p Authentication
