extends layout
block style
  link(rel='stylesheet', href='https://unpkg.com/element-ui/lib/theme-chalk/index.css')
block content
  div.row#app
    aside.col-sm-4.offset-sm-4
      div.card
        article.card-body
          a.float-right.btn.btn-outline-primary Sign up
          h4.card-title.mb-4.mt-1 Sign in
          form#login(method="post")
            div.form-group
              a.float-right(href="#") Forget?
              label User name
              input.form-control(placeholder="User name" type="text" name="UserName" v-model="username" v-on:keyup.enter="submit")

            div.form-group
              label Your Password
              input.form-control(placeholder="**********" type="password" name="password" v-model="password" v-on:keyup.enter="submit")

            div.form-group
              button.btn.btn-primary.btn-block(type="button" v-on:click="submit") Login
block script
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/ElementUI.js')
  script.
    let app = new Vue({
      el: "#app",
      data: {
        username: '',
        password: '',
      },
      methods: {
        submit() {
          let self = this;
          $.post('/login', {UserName: this.username, password: this.password}).then(function (rs) {
            if(rs){
              window.location.replace("/")
            } else {
              self.$notify({
                type: "error",
                title: "Login failure",
                message: "User name is not exist or Password is not correct!"
              })
            }
          }).catch(function (e) {
            self.$notify({
              type: "error",
              title: "Login failure",
              message: e.sqlMessage
            })
          })
        }
      }
    })
