extends ../layout
block style
  link(rel='stylesheet', href='https://unpkg.com/element-ui/lib/theme-chalk/index.css')
block content
  el-dialog(:title="title", :visible.sync="visible", width="25%")
    img.thumbnail.mx-auto(:src='src')
    span(slot="footer" class="dialog-footer")
      el-button(@click="visible = false") Cancel
  el-dialog(title="Setting", :visible.sync="visible_setting", width="30%" @close = 'applySetting')
    template
      div.col-sm-12
        .row
          .col-sm-4
            label Summary
          .col-sm-8
            el-select(v-model="settings.areas" multiple clearable filterable placeholder="All Area" size="mini")
              el-option(v-for='area in areas_list', :label="area.Name", :key="area.Id", :value="area.Id")
        .row
          .col-sm-4
            label Checkin checkout
          .col-sm-8
            el-radio-group(v-model="limit" size="mini")
              el-radio-button(label="10", key="10", value=10)
              el-radio-button(label="20", key="20", value=20)
              el-radio-button(label="50", key="50", value=50)
              el-radio-button(label="100", key="100", value=100)
        .row
          .col-sm-4
            label Gender
          .col-sm-8
            el-date-picker(v-model="dateRange"
              type="daterange" range-separator="-"
              start-placeholder="Start date"
              end-placeholder="End date"
              size='small'
              format='dd/MM/yyyy'
              align='right' @change='genderChart').col-md-7.col-6

  el-dialog(:title="title",:visible.sync="dialogVisible", @close='beforeClose' width='40%')
    el-pagination.offset-2(
      small
      v-if="top_pagination",
      :pager-count= 5,
      @size-change="handleSizeChange",
      @current-change="handleCurrentChange",
      :page-sizes="[10, 20, 50, 100]",
      :page-size= "limit",
      layout="sizes, prev, pager, next",
      :total="justnow_size")
    template
      el-table(:data='justNow', stripe='', style='width: 100%', v-loading='chartLoad')
        el-table-column(prop="Code" label="StaffCode" width='100px')
        el-table-column(prop="FullName" label="FullName" width='180px')
        el-table-column(prop="AccessAt" label="Access Time" width='160px')
        el-table-column(prop="Location" label="Location" width='160px')
        el-table-column(label="Avatar" width="100px" align='right')
          template(scope='scope')
            img.icon(:src='scope.row.Avatar' @click='previewAvatar(scope.row.Avatar, scope.row.Code)')
      el-pagination.offset-2(
        small
        @size-change="handleSizeChange",
        :pager-count=5,
        @current-change="handleCurrentChange",
        :page-sizes="[10, 20, 50, 100]",
        :page-size= "limit",
        layout="sizes, prev, pager, next",
        :total="justnow_size")
    span(slot="footer" class="dialog-footer")
      el-button(@click="dialogVisible = false") Cancel
  div.content-header
    div.container-fluid
      div.row.mb-2
        div.col-sm-5
          h1.m-0.text-dark #{title}
        div.col-sm-7
          i.el-icon-more-outline.float-sm-right(@click='visible_setting=true')
  section.content
    .container-fluid
          .row
            include statistic/_first
            include statistic/_second
            include statistic/_third
            include statistic/_fourth
            include statistic/_fifth
            include statistic/_sixth
          .row
            section.col-lg-12.connectedSortable
              include charts/_table_board
              include charts/_line_chart

block script
  script(src='/javascripts/moment.min.js')
  script(src='/javascripts/ElementUI.js')
  script(src='/javascripts/modules/DashBoard/index.js')
  script(src='/javascripts/modules/DashBoard/dashboard.js')

