extends ../layout
block style
  link(rel='stylesheet', href='https://unpkg.com/element-ui/lib/theme-chalk/index.css')
block content

block script
  script(src='/javascripts/moment.min.js')
  script(src='/javascripts/ElementUI.js')