doctype html
html
  head
    title= title +(subtitle ? " - " + subtitle : '')
    link(rel="shortcut icon" href="")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet")
    script(src="https://unpkg.com/vue/dist/vue.js")
    link(rel='stylesheet', href='/stylesheets/all.min.css')
    link(rel='stylesheet', href='/stylesheets/icheck-bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/jqvmap.min.css')
    link(rel='stylesheet', href='/stylesheets/adminlte.min.css')
    link(rel='stylesheet', href='/stylesheets/OverlayScrollbars.min.css')
    link(rel='stylesheet', href='/stylesheets/daterangepicker.css')
    link(rel='stylesheet', href='/stylesheets/summernote-bs4.css')
    block style
  body.hold-transition.sidebar-mini.layout-fixed
    nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
      ul.navbar-nav
        li.nav-item
          a.nav-link(data-widget='pushmenu', href='#')
            i.fas.fa-bars
        li.nav-item.d-none.d-sm-inline-block
          a.nav-link(href='index3.html') Home
        li.nav-item.d-none.d-sm-inline-block
          a.nav-link(href='#') Contact
      // SEARCH FORM
      form.form-inline.ml-3
        .input-group.input-group-sm
          input.form-control.form-control-navbar(type='search', placeholder='Search', aria-label='Search')
          .input-group-append
            button.btn.btn-navbar(type='submit')
              i.fas.fa-search
      // Right navbar links
      ul.navbar-nav.ml-auto
    aside.main-sidebar.sidebar-dark-primary.elevation-4
      a.brand-link(href='/')
        img.brand-image.img-circle.elevation-3(src='/dist/img/AdminLTELogo.png', alt='AdminLTE Logo', style='opacity: .8')
        span.brand-text.font-weight-light NTEyeQ
      // Sidebar
      .sidebar
        // Sidebar user panel (optional)
        .user-panel.mt-3.pb-3.mb-3.d-flex
          .image
            img.img-circle.elevation-2(src='/dist/img/user2-160x160.jpg', alt='User Image')
          .info
            a.d-block(href='#') #{user.UserName}
        // Sidebar Menu
        nav.mt-2
          ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview', role='menu', data-accordion='false')
            li.nav-header Report
              li.nav-item
                if title == "DashBoard"
                  a.nav-link.active(href='/dashboard')
                    i.nav-icon.fas.fa-th
                    p Report
                else
                  a.nav-link(href='/dashboard')
                    i.nav-icon.fas.fa-th
                    p Report

            li.nav-header Core

            li.nav-item
              if title == "Users"
                a.active.nav-link(href='/users')
                  i.nav-icon.el-icon-s-custom
                  p User
              else
                a.nav-link(href='/users')
                  i.nav-icon.el-icon-s-custom
                  p User

            li.nav-item
              if title == "Staffs"
                a.nav-link.active(href='/staffs')
                  i.nav-icon.fas.fa-users
                  p Staff
              else
                a.nav-link(href='/staffs')
                  i.nav-icon.fas.fa-users
                  p Staff
            include _nav/_log_nav
            include _nav/_activities_nav
    div.content-wrapper(id='app')
      block content
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery-ui.min.js')
    script(src='/javascripts/bootstrap.bundle.min.js')
    script(src='/javascripts/Chart.min.js')
    script(src='/javascripts/sparkline.js')
    script(src='/javascripts/jquery.vmap.min.js')
    script(src='/javascripts/jquery.vmap.world.js')
    script(src='/javascripts/jquery.knob.min.js')
    script(src='/javascripts/moment.min.js')
    script(src='/javascripts/daterangepicker.js')
    script(src='/javascripts/tempusdominus-bootstrap-4.min.js')
    script(src='/javascripts/summernote-bs4.min.js')
    script(src='/javascripts/jquery.overlayScrollbars.min.js')
    script(src='/javascripts/adminlte.js')
    script(src='/dist/socket.io.js.map')
    script.
      let socket = io();
  block script
