.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #e4fff1;
}
.el-table .error-row {
    background: #f9dce6;
}
.el-table .justNow {
    animation-name: justnow;
    animation-duration: 4s;
}
@keyframes justnow {
    from{background-color: #fdbbff;}
    to {background-color: white;}
}
.icon{
    height: 30px;
    width: 30px;
}
.thumbnail{
    height: 400px;
    height: 400px;
}
.checkout{
    background-image: linear-gradient(to right, white, #fff2f6);
}
.checkin{
    background-image: linear-gradient(to left, white, #f2fff0);
}