.col-lg-2.col-4
  .small-box.bg-black
    .inner
      h3 {{size.absent}}
      p Absents Today
    .icon
      i.ion.ion-pie-graph
    p.small-box-footer(href='#', @click="absentList") More info
      i.fas.fa-arrow-circle-right