.col-lg-2.col-4
  // small box
  .small-box.bg-info
    .inner
      h3 {{size.staff}}
      p Number of Staffs
    .icon
      i.el-icon-s-custom
    a.small-box-footer(href='/staffs') More info
      i.fas.fa-arrow-circle-right