.col-lg-2.col-4
  .small-box.bg-danger
    .inner
      h3 {{size.just}}
      p Just Now
    .icon
      i.ion.ion-pie-graph
    p.small-box-footer(href='#', @click="justnowList") More info
      i.fas.fa-arrow-circle-right