.col-lg-2.col-4
  // small box
  .small-box.bg-success
    .inner
      h3 {{size.log}}
      p Checkin/Checkout
    .icon
      i.ion.ion-stats-bars
    a.small-box-footer(href='#') More info
      i.fas.fa-arrow-circle-right