.col-lg-2.col-4
  .small-box.bg-fuchsia
    .inner
      h3 {{size.available}}
      p Available Today
    .icon
      i.ion.ion-pie-graph
    p.small-box-footer(href='#', @click="available") More info
      i.fas.fa-arrow-circle-right