.col-lg-2.col-4
  // small box
  .small-box.bg-warning
    .inner
      h3 {{size.user}}
      p User Registrations
    .icon
      i.ion.ion-person-add
    a.small-box-footer(href='/users') More info
      i.fas.fa-arrow-circle-right