.row
  .col-lg-3.col-6
    .card
      .card-header.d-flex.p-0
        h3.card-title.p-3
          i.fas.fa-chart-pie.mr-1 Gender
        ul.nav.nav-pills.ml-auto.p-2
          li.nav-item
    .card-body
      .tab-content.p-0
        #pie-chart.chart.tab-pane.active(style='position: relative; height: 300px;')
          canvas#pie-chart-canvas(height='300', style='height: 300px;')
  .col-lg-3.col-6
    .card
      .card-header.d-flex.p-0
        h3.card-title.p-3
          i.el-icon-view  Area Review
      .card-body
        .tab-content.p-0
          #radar-chart.chart.tab-pane.active(style='position: relative; height: 300px;')
            canvas#radar-chart-canvas(height='300', style='height: 300px;')
  .col-lg-3.col-6
    .card
      .card-header.d-flex.p-0
        h3.card-title.p-3
          i.el-icon-view  Top 5 Earliest
      .card-body
        .tab-content.p-0
          template
            el-table(:data='early', style='width: 100%')
              el-table-column(type='expand')
                template(slot-scope='scope')
                  p FullName: {{ scope.row.FullName }}
                  p Location: {{ scope.row.Location }}
              el-table-column(label='Code', prop='Code' align='left')
              el-table-column(label='Time', prop='AccessAt')
              el-table-column(label='Avatar')
                template(scope='scope')
                  img.icon(:src='scope.row.Avatar' @click='previewAvatar(scope.row.Avatar, scope.row.Code)')
  .col-lg-3.col-6
    .card
      .card-header.d-flex.p-0
        h3.card-title.p-3
          i.el-icon-view  Top 5 Latest
      .card-body
        template
          el-table(:data='late', style='width: 100%')
            el-table-column(type='expand')
              template(slot-scope='scope')
                p FullName: {{ scope.row.FullName }}
                p Location: {{ scope.row.Location }}
            el-table-column(label='Code', prop='Code' align='left')
            el-table-column(label='Time', prop='AccessAt')
            el-table-column(label='Avatar')
              template(scope='scope')
                img.icon(:src='scope.row.Avatar' @click='previewAvatar(scope.row.Avatar, scope.row.Code)')