.row
  .col-lg-5
    .card
      .card-header.d-flex.p-0
        h3.card-title.p-3
          i.el-icon-view Recently Access
      .card-body
        template
          el-table(v-bind:data="staffs" @row-click='handleID', v-bind:row-class-name="tableRowClassName")
            el-table-column(prop="Code" label="Code")
            el-table-column(prop="FullName" label="FullName" width="150")
            el-table-column(prop="AccessAt" label="Access Time" width="150")
            el-table-column(prop="Location" label="Location" width="180")
            el-table-column(label="Avatar" width="80" scope = 'staffs')
              template(slot-scope='scope')
                img.icon(:src='scope.row.Avatar')

  .col-lg-7
    .card
      .card-header.d-flex.p-0
        h3.card-title.p-3
          i.fas.fa-chart-pie.mr-1 Summary
        ul.nav.nav-pills.ml-auto.p-2
          li.nav-item
            template
              el-select.col-md-6(v-model="type" placeholder="Select" @change='chartTypeHandle')
                el-option(
                  v-for="item in types",
                  :label="item.label",
                  :value="item.value")
          li.nav-item
            el-button(circle icon='el-icon-refresh-left' @click='reload')

      .card-body
        .tab-content.p-0
          #revenue-chart.chart.tab-pane.active(style='position: relative; height: 410px;')
            canvas#revenue-chart-canvas(height='370px', style='height: 370px;')
