el-form(v-bind:model='model', label-width='200px', label-position='left', ref='model', :rules='rules' inline-message)
  el-form-item(label='User Name', prop='UserName')
    el-input.col-lg-12.col-md-12.col-xl-4(v-model='model.UserName' clearable required)
  el-form-item(label='FirstName', prop='FirstName')
    el-input.col-lg-12.col-md-12.col-xl-4(v-model='model.FirstName' maxlength="20" show-word-limit clearable required)
  el-form-item(label='LastName', prop='LastName')
    el-input.col-lg-12.col-md-12.col-xl-4(v-model='model.LastName' maxlength="20" show-word-limit clearable required)
  el-form-item(label='Email', prop='Email')
    el-input.col-lg-12.col-md-12.col-xl-4(v-model='model.Email' maxlength="100" show-word-limit clearable)
  el-form-item(label='Date of birth', prop='Dob')
    el-date-picker.col-lg-12.col-md-12.col-xl-4(type='date', placeholder='Pick a date', v-model='model.Dob' format='dd/MM/yyyy')
  el-form-item(label='Mobile Number', prop='MobileNumber')
    el-input.col-lg-12.col-md-12.col-xl-4(v-model='model.MobileNumber' maxlength="11" show-word-limit clearable)
  el-form-item
    el-button(type='primary', @click="onSubmit('model')", v-if='!loading.create') Create
    el-button(type='primary', v-if='loading.create' disabled icon="el-icon-loading")
    el-button Cancel
