template
  el-table(v-bind:data="models" style="width: 100%" v-bind:row-class-name="tableRowClassName" v-loading="loading.list")
    el-table-column(prop="Id" label="Id" width="80" fixed)
    el-table-column(prop="UserName" label="User Name" width="180" fixed)
    el-table-column(prop="FullName" label="FullName" width="360")
    el-table-column(prop="DOB" label="DOB" width="180")
    el-table-column(prop="CreatedOn" label="Created on" width="360")
    el-table-column(prop="status" label="Status" width="180")
    el-table-column(prop="action" width="200" fixed='right' align="center")
      template(slot="header" slot-scope="scope")
        el-input(v-model="search" size="small" placeholder="Type to search" indent=0 v-on:change.native="search_user" v-if="!loading.search")
        i.fas.fa-spinner(v-if="loading.search")
      template(slot-scope="scope")
        el-button(@click="handleClick(scope.row)" type="text" size="small") Detail
        el-button(type="text" size="small") Edit
        el-button(type="text" size="small" @click="handleSwitch(scope.$index)" v-if="!scope.row.loading") Switch Status
        i.fas.fa-spinner(v-if="scope.row.loading")
el-pagination.offset-3(
  @size-change="handleSizeChange",
  @current-change="handleCurrentChange",
  :page-sizes="[10, 20, 50, 100]",
  :page-size= "limit",
  layout="sizes, prev, pager, next",
  :total="size")