el-form(v-bind:model='model', label-width='200px', label-position='left', ref='model', :rules='rules' inline-message)
  el-form-item(label='Staff Code', prop='Code')
    el-input.col-lg-12.col-md-12.col-xl-4(v-model='model.Code' clearable required)
  el-form-item(label='Full Name', prop='FullName')
    el-input.col-lg-12.col-md-12.col-xl-4(v-model='model.FullName' maxlength="20" show-word-limit clearable required)
  el-form-item(label='Date of birth', prop='Dob')
    el-date-picker.col-lg-12.col-md-12.col-xl-4(type='date', placeholder='Pick a date', v-model='model.Dob' format='dd/MM/yyyy')
  el-form-item(label='Mobile Number', prop='MobileNumber')
    el-input.col-lg-12.col-md-12.col-xl-4(v-model='model.MobileNumber' maxlength="11" show-word-limit clearable)
  el-form-item(label='Location', prop='Location')
    el-input.col-lg-12.col-md-12.col-xl-4(v-model='model.Location' maxlength="250" show-word-limit clearable)
  el-form-item(label='Avatar', prop='Avatar')
    el-upload(action='#', list-type='picture-card', :auto-upload='false')
      i.el-icon-plus(slot='default')
        div(slot='file', slot-scope='{file}')
          img.el-upload-list__item-thumbnail(:src='file.url', alt='')
          span.el-upload-list__item-actions
            span.el-upload-list__item-preview(@click='handlePictureCardPreview(file)')
              i.el-icon-zoom-in
            span.el-upload-list__item-delete(v-if='!disabled', @click='handleDownload(file)')
              i.el-icon-download
            span.el-upload-list__item-delete(v-if='!disabled', @click='handleRemove(file)')
              i.el-icon-delete
  el-form-item
    el-button(type='primary', @click="onSubmit('model')", v-if='!loading.create') Create
    el-button(type='primary', v-if='loading.create' disabled icon="el-icon-loading")
    el-button Cancel
