template
  el-table(v-bind:data="models" style="width: 100%" v-loading="loading.list" stripe)
    el-table-column(prop="Id" label="Id" width="80" fixed)
    el-table-column(prop="FullName" label="FullName" width="360")
    el-table-column(prop="Dob" label="DOB" width="180")
    el-table-column(prop="CreatedOn" label="Created on" width="360")
    el-table-column(prop="Location" label="Location" width="360")
    el-table-column(label="Avatar" width="360")
      template(scope='scope')
        img.icon(:src='scope.row.Avatar' @click='previewAvatar(scope.row.Avatar, scope.row.Code)')
el-pagination.offset-3(
  @size-change="handleSizeChange",
  @current-change="handleCurrentChange",
  :page-sizes="[10, 20, 50, 100]",
  :page-size= "limit",
  layout="sizes, prev, pager, next",
  :total="size")