extends ../layout
block style
  link(rel='stylesheet', href='https://unpkg.com/element-ui/lib/theme-chalk/index.css')
block content
  el-dialog(:title="title", :visible.sync="visible", width="25%")
    img.thumbnail.mx-auto(:src='src')
    span(slot="footer" class="dialog-footer")
      el-button(@click="visible = false") Cancel
  div.content-header
    div.container-fluid
      div.row.mb-2
        div.col-sm-5
          h1.m-0.text-dark #{title}
        // /.col
        div.col-sm-7
          div.offset-10
            el-button(type="primary" size="small" round icon="el-icon-circle-plus" v-if="!loading.create" @click="userAdd") Staff
            el-button(type="primary" size="small" round icon="el-icon-loading" data-toggle="modal" data-target="#myModal" v-if="loading.create" disabled)
      template
        el-tabs(v-model="activeName" @tab-click="handleClick")
          el-tab-pane(label="List" name="list")
            include _list
          el-tab-pane(label="Create" name="create")
            include _create

block script
  script(src='https://unpkg.com/element-ui/lib/index.js')
  script(src='/javascripts/modules/Staffs/index.js')
  script(src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js")
